###### Streetscape Feature-Location Mapping Tool (sflmt)(version 0.0) ######

###### Requirements without Version Specifiers ######

Flask
rasterfairy-py3

###### Requirements with Version Specifiers ######

cmake >= 3.15.3
glob2 >= 0.6
h5py >= 2.10.0
hdbscan == 0.8.24
iiif-downloader >= 0.0.6
Keras>=2.3.1
Keras-Applications >= 1.0.8
Keras-Preprocessing >= 1.1.1
matplotlib >= 2.0.0
numpy >= 1.16.0
Pillow >= 6.1.0
pointgrid >= 0.0.2
python-dateutil >= 2.8.0
scikit-learn >= 0.19.0
scipy >= 1.1.0
tensorflow >= 2.0.0
tensorflow-estimator >= 2.0.1
umap-learn >= 0.3.10
