<!doctype html>
<html>
    <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        html, body {background-color: transparent; font-size:11px; font-family: 'Roboto', sans-serif;}
        p {color: lightgray;}
        a {font-size:11px; color: lightgray;}
        figure {float: left; margin-right: 20px; margin-bottom: 20px;}
        figcaption {font-size:9px; color: lightgray;}
        img {padding-top: 0px; padding-right: 10px; padding-bottom: 5px;padding-left: 0px;}
        input[type='file'] {color: lightgray;}
    </style>
    <script type="text/javascript">
        function returnSearch(data) {
            if (data != null){
              //console.log(data);
              parent.postMessage(data, "*");
            }
        }
        returnSearch({{ data|safe }})
    </script>
    </head>
    <body>
        <div id="searchform" class="container">
            <br>
            <form method="POST" enctype="multipart/form-data">
                <input style="font-size:11px; width: 300px; height: 30px;" type="file" name="query_img">
                <input style="font-size:11px; width: 100px; height: 30px;" type="submit">
            </form>
            <hr>
            <p><b>Query:</b></p>
            {% if query_path %}
            <img src="{{ query_path }}" height="100px">
            {% endif %}
            <hr>
            <p><b>Results:</b></p>
            {% for score in scores %}
              <a href="{{ score[1] }}" target=”_blank”> {{ score[2] }} - {{ score[0] }}</a>
              <br> <!--<img src="{{ score[1] }}" height="32px"> -->
            {% endfor %}
        </div>
    </body>
</html>
